.landingMainImage {
	background: #8FBC8F;
	height: 450px;
	margin-top: 0px;
}

.landingPage {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	background: #F5F5DC;
}

.welcomeMessageBox {
	background: black;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: 0.75;
	width: 30%;
	float: left;
	margin-left: 65%;
	margin-top: 270px;
	z-index: -1;
}

.welcomeMessageHeadline {
	margin-left: 30px;
}

.welcomeMessageSubtext {
	margin-left: 50px;
}

.statsTitle {
	width: 92%;
	text-align: center;
	margin-top: 50px;
	margin-left: 4%;
}

.missionTitle {
	width: 92%;
	text-align: center;
	margin-top: 50px;
	margin-left: 4%;
}

.statsContainer {
	height: 553px;
}

.titleBreak{
	margin-left: 5%;
	margin-right: 5%;
}

.statSideOne {
	width: 40%;
	float: left;
	height: 150px;
	padding-left: 10%;
	background: #F5F5DC;
}

.statSideTwo {
	width: 40%;
	float: left;
	height: 150px;
	padding-left: 5%;
	padding-right: 5%;
	background: #F5F5DC;

}

.statLayer {
	background: #F5F5DC;
	padding-top: 30px;
}

.missionText {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 40px;
	padding-bottom: 20px;
}