.headerContainer {
	background: #E59D5C;
	margin-top: -22px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 5;
	margin-top: 0;
	margin-bottom: 0px;
}

.routerBoxes:active {
	background: green;
}

.routesHolder {
	height: 30px;
	width: 100%;
	background: #F3D3B8;
	color: black;
	margin-top: -15px;
}

.routeText {
	padding-left: 3%;
	padding-right: 3%;
	float: left;
	height: 10px;
	padding-bottom: 20px;
	padding-top: 0px;
	color: black;
}

.routeText:hover {
	background: #FDD475;
	color: black;
}

.routeText:active {
	background: #C1E1DC;
	color: black;
}

.companyHolder {
	margin-top: -22px;
	padding-top: 0px;
	padding-left: 15px;
}

#textExp {
	margin-top: 6px;
}